{{!-- <html>
<head>
<title>Login/Sign-Up</title>
<!-- Include CSS File Here -->
<link rel="stylesheet" href="css/style.css"/>
<!-- Include JS File Here -->
<script src="js/login.js"></script>
</head>
<body> --}}
{{!-- <div class="container" style="margin-left: 35%">
<div class="main">
<h2 style="color: blue">Welcome to Printing Paradise!</h2>
<h3 style="color: lightseagreen"> Login if you already have an account or Register with us if you are a new user.</h3>
<form id="form_id" method="post" name="myform">
<label>User Name :</label>
<input type="text" name="username" id="username"/>
<label>Password :</label>
<input type="password" name="password" id="password"/>
<input type="button" value="Login" id="submit" onclick="validate()"/>
<input type="button" class="btn btn-primary" style="float: right; margin-top: 6px" onclick="location.href='./register.html';" value="Register" />
</form>
<span><b class="note">Note : </b>For this demo use following username and password. <br/><b class="valid">User Name : Siddharth25<br/>Password : siddharth2508</b></span>
</div>
</div> --}}




{{!-- <form action="/indexlogin" method="POST">
    
    <input name="username">
    <input type="password" name="password">
    <button type="submit">
        Submit
    </button>


</form> --}}


<div style="background-image: url('ppimg31.jpg')">
<div class="container" style="margin-left: 35%">
<div class="main">
<h2 style="color: darkblue">Welcome to Printing Paradise!</h2>
<h3 style="color: black"> <b style="float:initial">Login if you already have an account or Register with us if you are a new user.</b></h3>
<form action = "/indexlogin" id="form_id" method="post" name="myform">
<label>User Name :</label>
<input type="text" name="username" id="username"/>
<label>Password :</label>
<input type="password" name="password" id="password"/>
{{!-- <input type="button" value="Login" id="submit" onclick="validate()"/> --}}
<button class = "btn-lg btn-success" type="submit" style="margin-left: 145px">Submit</button><br>
<br>
<span><b style="margin-left: 138px; font-size: 25px;">New User?</b></span><br>

<button class="btn btn-info btn-block" formaction="register" style="margin-left: 7px; font-size:25px">Register</button>
</form>
{{!-- <span><b class="note">Note : </b>For this demo use following username and password. <br/><b class="valid">User Name : Siddharth25<br/>Password : siddharth2508</b></span> --}}
</div>
</div>
</div>


{{!-- </body>
</html> --}}