{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="pp.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Business Cards</title>
</head> --}}
{{!-- <body > --}}

  <body style="background-color:lightgray">
    <div class="container">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="./index"><b>Printing Paradise</b></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                          <a class="nav-link" href="./home">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item" >
                          <a class="nav-link" href="./aboutUs">About Us</a>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Products
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="./businesscards" target="_blank"><b>Business Cards</b></a>
                            <a class="dropdown-item" href="./registers"><b>Registers</b></a>
                            <a class="dropdown-item" href="#"><b>Spiral Pads</b></a>
                            <a class="dropdown-item" href="#"><b>Pamphlets</b></a>
                            <a class="dropdown-item" href="#"><b>Brochures</b></a>
                            <a class="dropdown-item" href="#"><b>Bill Bookss</b></a>
                            <a class="dropdown-item" href="#"><b>Danglers</b></a>
                            <a class="dropdown-item" href="#"><b>Corrugated Boxes</b></a>
                            <a class="dropdown-item" href="#"><b>Paper bags</b></a>
                            <!-- <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                          </div> -->
                        </li>
                          <li class="nav-item">
                          <a class="nav-link" href="./promotions">Promotions</a>
                        </li>
                        
                              <!-- <li class="nav-item">
                                    <a class="nav-link" href="./myaccount.html" >My Account</a>
                                  </li> -->

                                  <li class="nav-item">
                                    <a class="nav-link"  >Log-Out</a>
                                  </li>


                                  <li class="nav-item" >
                                      <a class="nav-link" href="./ContactUs">Contact Us</a>
                                    </li>
                          
                                  </li>
                        
                      </ul>
                      <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                      </form>
                    </div>
                  </nav>


                  <div class="jumbotron jumbotron-fluid mt-4" style="background-image: url(./ppimg25.jpg);
                  background-position: 0% 25%;
                  background-size: cover;
                  background-repeat: no-repeat;
                  color: white;
                  text-shadow: black 0.3em 0.3em 0.3em;
                  ">
                        <div class="container">
                          <h1 class="display-4"><b>Registers</b></h1>
                          <p class="lead" ><b>Now get Registers of the size that perfectly mathches your need.<br>Starting at just Rs. 45!</b> </p>
                        </div>
                      </div>

                      <div class="row">
                          <div class="col ">

                      


                          <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="./ppimg17.jpg" alt="Card image cap">
                                <div class="card-body">
                                  <h5 class="card-title">NoteBook Big Bound Excel</h5>
                                  <p class="card-text">19cm X 30.5cm<br><b>Rs. 45</b></p>
                                  <a href="#" class="btn btn-primary">Add To Cart</a>
                                </div>
                              </div>
                          </div>



                          <div class="col offset-4">
                                <div class="card" style="width: 18rem;">
                                        <img class="card-img-top" src="./ppimg16.jpg" alt="Card image cap">
                                        <div class="card-body">
                                          <h5 class="card-title">NoteBook Big Bound Marble</h5>
                                          <p class="card-text">19cm X 30.5cm<br><b>Rs. 50</b></p>
                                          <a href="#" class="btn btn-primary" class="add">Add To Cart</a>
                                        </div>
                                      </div>
                              </div>
                              </div>


                              <div class="row mt-4">
                                  <div class="col ">
                                        <div class="card" style="width: 18rem;">
                                                <img class="card-img-top" src="./ppimg18.jpg" alt="Card image cap">
                                                <div class="card-body">
                                                  <h5 class="card-title">NoteBook Big Bound Platinum</h5>
                                                  <p class="card-text">19.50cm X 31.70cm <br><b>Rs. 75</b></p>
                                                  <a href="#" class="btn btn-primary" class="add">Add To Cart</a>
                                                </div>
                                              </div>
                                  </div>

                                  <div class="col offset-4">
                                        <div class="card" style="width: 18rem;">
                                        <img class="card-img-top" src="./ppimg20.jpg" alt="Card image cap">
                                        <div class="card-body">
                                          <h5 class="card-title">NoteBook Big Bound Signature</h5>
                                          <p class="card-text">21cm X 34cm<br><b>Rs. 80</b></p>
                                          <a href="#" class="btn btn-primary" class="add">Add To Cart</a>
                                        </div>
                                      </div>
                                      </div>
                                      </div>
    </div>

</body>

    {{!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script src="scripts.js"></script>
    
</body>
</html> --}}