
<body style="background-image: url('ppimg30.jpg');">
<div class="container" style="width: 700px; 
height: 400px; float:right; background-color:lightyellow;
margin-left: 110px; margin-top: 100px; margin-right:320px; border-style:groove; border-width: 4px; border-radius: 6px; border-color:blue; ">
<div class="main" style="text-align: center;">

<form action = "/register" id="form_id" method="post" name="myform">
<div style="font-size: 45px; color:blue;">PRINTING   <span style="color:mediumturquoise">PARADISE</span></div>
<div style="font-size: 35px;"><i style="color:gray">Register Now</i></div>
<br><br>
<div><label><b style="font-size:20px">Username: </b></label>
<input type="username" name="username" id="" ></div>

<div><label><b style="font-size:20px">Password: </b> </label>
  <input type="password" name="password" id=""></div>
        <br>
  <button class="btn-lg btn-success" type="submit">Submit</button>
  <br>
  <br> 
</form>

</div>


</div>
</body>
{{!-- <div class="container"> --}}
  {{!-- <div class="row">
    <div class="col"> --}}
      {{!-- <form acion = "/register" method ='post'>
        <input type="username" name="username" id="">
        <input type="password" name="password" id="">
        <button type="submit">submit</button>
      </form> --}}
    {{!-- </div> --}}
  {{!-- </div> --}}
{{!-- </div> --}}